.track-search-container {
	position: relative;
	top: 10px;
}

.track-search-container input {
	background: rgba(255,255, 255, 0.2);
	width: 400px;
	border-radius: 10px;
	border: none;
  font-family: 'Proxima Nova', Georgia, sans-serif;
	padding: 4px 4px 4px 10px;
	outline: none;
	height: 30px;
	color: white;
}

.track-search-container input::placeholder {
	color: white;
	opacity: 1; 
  }

.search {
	margin-left: 5px;
	cursor: pointer;
	cursor: pointer;
  color: white;
  font-size: 15px;
}

button {
	background: none;
	border: none;
	outline: none;
}
